

<div id="landing">
    <section id="banner" class="text-center">


        <div class="inner">
            <header>
                <h1 id="title">My Clinic Manager</h1>
                <p class="subs">Managing Patients has never been Easier</p>
            </header>
                 <a href="/users/sign_up" class="btn btn-success btn-lg">Sign Up</a>
				 <a href="#main" class="btn btn-danger btn-lg ml-4">Learn More</a>
        </div>
        
    </section>



</div>